* {
    box-sizing: border-box;
}

body {
    background-color: white;
    overflow-x: hidden;
    font-family: arial;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

header {
    font-size: 10px;
    text-align: center;
    padding: 20px 8px;
    background-color: #6bd3ff;
    color: white;
    margin-top: -44px;
    margin-left: -10px;
    margin-right: -10px;
    border-bottom: 4px solid #211d55;
}

article.introduction {
    color: white;
    background-color: #6bd3ff;
    border-left: 4px solid #211d55;
    border-right: 4px solid #211d55;
    border-bottom: 4px solid #211d55;
    border-top: 4px solid #211d55;
    padding: 2px 2px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
}

article.general-header {
    color: white;
    background-color: white;
    border-left: 4px solid #211d55;
    border-right: 4px solid #211d55;
    border-top: 4px solid #211d55;
    border-bottom: 4px solid #211d55;
    padding: 6px 2px;
    padding-left: 15px;
    padding-right: 15px;
}

article.taxopedia-entry-header {
    color: white;
    background-color: white;
    border-left: 4px solid #211d55;
    border-right: 4px solid #211d55;
    border-top: 4px solid #211d55;
    padding: 6px 2px;
    padding-left: 15px;
    padding-right: 15px;
}

article.taxopedia-description {
    background-color: #6bd3ff;
    float: left;
    width: 100%;
    margin-right: 10px;
    border-top: 4px solid white;
    border-left: 4px solid #211d55;
    border-right: 4px solid #211d55;
    border-bottom: 4px solid white;
    border-top-style: dashed;
    border-bottom-style: dashed;
}

article.stats {
    background-color: #6bd3ff;
    float: left;
    width: 100%;
    margin-right: 10px;
    border-top: 4px solid white;
    border-left: 4px solid #211d55;
    border-right: 4px solid #211d55;
    border-bottom: 4px solid #211d55;
    border-top-style: dashed;
    padding: 10px;
    margin-top: 25px;
}

article.left-spacing {
    width: 15%;
    float: left;
}

article.right-spacing {
    width: 15%;
    float: left;
}

nav.menu-bar {
    margin-top: -27px;
}

nav.news {
    float: left;
    color: white;
    background-color: #6bd3ff;
    border-left: 4px solid #211d55;
    border-right: 4px solid #211d55;
    border-bottom: 4px solid #211d55;
    border-top: 4px solid #211d55;
    padding-top: 7px;
}

div {
    display: block;
}

div.taxopedia {
    border-bottom: 4px solid white;
    border-bottom-style: dashed;
    background-color: #6bd3ff;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -6px;
}

div.general-header {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    color: #211d55;
    border-bottom: 4px solid white;
    border-bottom-style: dashed;
    background-color: #6bd3ff;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -6px;
}

div.taxopedia-entry-body {
    font-size: 20px;
    color: #211d55;
    padding: 6px;
    
}

div.taxopedia-description {
    font-size: 20px;
    color: #211d55;
    padding: 15px;
    background-color: white;
    border-left: 4px solid #6bd3ff;
    border-right: 4px solid #6bd3ff;
    border-bottom: 4px solid #6bd3ff;
    border-top: 4px solid #6bd3ff;
    border-style: dashed;
}

div.taxopedia-data {
    font-size: 20px;
    color: #211d55;
    padding: 15px;
    background-color: white;
    border-left: 4px solid #6bd3ff;
    border-right: 4px solid #6bd3ff;
    border-bottom: 4px solid #6bd3ff;
    border-top: 4px solid #6bd3ff;
    border-style: dashed;
}

div.type-spacing {
    padding-top: 10px;
}

div.img-text {
    text-align: justify;
    width: 1920px;
}

div.column {
    height: 215px;
    width: 200px;
    float: left;
}

div.row::after {
  content: "";
  clear: both;
  display: table;
}

div.tier-list-icon {
    height: 75px;
    width: 75px;
}

div.stats {
    padding-left: 8px;
    font-size: 25px;
    font-weight: bold;
}

div.misc-info {
    text-align: center;
    padding-top: 1rem;
}

div.misc-info-item {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    color: #211d55;
}

div.grid-row {
    display: flex;
    flex-wrap: wrap;
}

div.grid-col {
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

div.data-grid-col {
    width: 50%;
}

div.type-grid-row {
    margin-top: -10px;
    margin-right: -1rem;
    margin-bottom: 0px;
    margin-left: -1rem;
    padding: 1rem;
}

div.type-grid-col {
    width: 47%;
    padding: 5px;
}

div.type-grid-col2 {
    width: 47%;
    padding: 5px;
}

div.type-grid-mid-col {
    width: 6%;
}

div.type-description-grid-col {
    width: 70%;
    margin-top: 1.7rem;
}

div.spacing-col {
    width: 15%;
}

div.misc-grid-col {
    width: 43%;
}

div.taxonom-grid-col {
    width: 35%;
    padding-top: 10px;
}

div.taxopedia-grid-col {
    width: 14.285%;
    text-align: center;
    padding-top: 1.5rem;
}

div.stat-grid-col {
    width: 65%;
}

div.misc-stat-grid-col {
    width: 65%;
}

div.news-grid-col {
    width: 30%;
    padding-right: 1rem;
}

div.introduction-grid-col {
    width: 70%;
}

div.taxopedia-info {
    text-align: center;
}

div.taxopedia-info-item {
    display: inline-block;
    color: #211d55;
}

div.stat-count {
    padding-left: 2rem;
}

div.spacing {
    padding: 0.75rem;
}

div.tier-list-grid-col {
    padding: 10px 20px;
    width: 100%;
}

div.matchup-grid-col {
    width: 35%;
}

ul.menu-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #59a5d8;
    border-left: 4px solid #211d55;
    border-right: 4px solid #211d55;
    border-bottom: 4px solid #211d55;
    border-top: 4px solid #211d55;
}

li.menu-bar {
    float: left;
    list-style-type: none;
}

li a.menu-bar-item:hover {
    background-color: #6bd3ff;
}

li a.active:hover {
    background-color: #6bd3ff;
}

li.taxopedia {
    list-style-type: none;
    color: #211d55;
    font-weight: bold;
    font-size: 20px;
    width: 3%;
    padding-top: 10px;
    margin-left: 55px;
    white-space: nowrap;
}

li.misc-info {
    list-style-image:url(images/listStyleImg.png);
    color: #211d55;
    position: relative;
    font-size: 1.1rem;
    line-height: 1.5;
    list-style-position: outside;
}

li.misc-info:before {
    content: "";
    position: absolute;
    top: 8px;
    left: -16px;
    width: 8px;
    height: 8px;
    background-image: url(images/listStyleImg.png);
}

li.news {
    padding-right: 10px;
}

a {
    text-decoration: none;
}

a.dark-blue {
    color: #211d55;
}

a.bold {
    font-weight: bold;
}

a.italic {
    font-style: italic;
}

a.bold-italic {
    font-weight: bold;
    font-style: italic;
}

a.menu-bar-item {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; 
}

.active {
    background-color: #211d55;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; 
}

a.taxopedia {
    color: #211d55;
    text-align: center;
}

a.news {
    color: #211d55;
    font-weight: bold;
}

a.data {
    color: #211d55;
    font-size: 19px;
}

a.td-magnification {
    font-size: 0.7rem;
}

a.td-magnification2 {
    font-size: 0.7rem;
}

a.table-diagonal {
    color: #ffd633;
}

a.individual-matchup {
    font-weight: bold;
    font-size: 0.9rem;
}

a.header-name {
    font-size: 3.5rem;
}

/* BEGIN - ALL DIFFERENT TYPES USED FOR TYPE ICONS */
a.type-icon {
    display: inline-block;
    width: 65px;
    margin-right: 5px;
    border-radius: 30px;
    border: 1px solid rgba(0,0,0,0.2);
    color: #ffffff;
    font-size: 0.75rem;
    line-height: 1.5rem;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
    text-transform: uppercase;
    line-height: 2;
}

a.type-small {
    width: 2rem;
    margin: 0.1rem;
}

a.type-small2 {
    width: 2rem;
    margin: 0.1rem;
}


a.alien-upper {
    font-size: 3.5rem;
    color: #008AFA;
    font-weight: bold;
}

a.type-alien {
    background-color: #008AFA;
}

a.type-dragon {
    background-color: #01187D;
}

a.type-dark {
    background-color: #3F2C25;
}

a.type-hydro {
    background-color: #0032F8;
}

a.type-toxic {
    background-color: #740751;
}

a.power-upper {
    font-size: 2.5rem;
    color: #FA8422;
    font-weight: bold;
}

a.type-power {
    background-color: #FA8422;
}

a.type-psycho {
    background-color: #F430F9;
}

a.electro-upper {
    font-size: 2.5rem;
    color: #FFFB3C;
    font-weight: bold;
}

a.type-electro {
    background-color: #FFFB3C;
}

a.pyro-upper {
    font-size: 2.5rem;
    color: #F60D18;
    font-weight: bold;
}

a.type-pyro {
    background-color: #F60D18;
}

a.type-grass {
    background-color: #28831D;
}

a.type-normal {
    background-color: #D4DAE6;
}

a.type-radio {
    background-color: #50fa3a;
}

a.type-cool {
    background-color: #20C4FF;
}

a.dragon-upper {
    font-size: 2.5rem;
    color: #01187D;
    font-weight: bold;
}

a.type-dragon {
    background-color: #01187D;
}

a.type-energy {
    background-color: #F71684;
}

a.type-bug {
    background-color: #23A030;
}

a.type-rock {
    background-color: #5A4D41;
}

a.type-wind {
    background-color: #C4FBDC;
}

a.type-metal {
    background-color: #00B6B2;
}

a.type-earth {
    background-color: #ffdb7f;
}

a.type-death {
    background-color: #244e7b;
}
/* END - ALL DIFFERENT TYPES USED FOR TYPE ICONS */

/* BEGIN - VARIOUS DIFFERENT PARAGRAPH TEMPLATES */
p.dark-blue-dashed {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: 4px solid white;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    border-top: 4px solid white;
    border-style: dashed;
    background-color: #211d55;
}

p.what-is-taxonoms {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: 4px solid #6bd3ff;
    border-right: 4px solid #6bd3ff;
    border-bottom: 4px solid #6bd3ff;
    border-top: 4px solid #6bd3ff;
    border-style: dashed;
    background-color: #211d55;
}

p.blue-dashed {
    padding: 10px;
    border-left: 4px solid white;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    border-top: 4px solid white;
    border-style: dashed;
    background-color: #59a5d8;
}
/* END - VARIOUS DIFFERENT PARAGRAPH TEMPLATES */

p.type-list {
    margin-left: 1.5rem;
}

span.misc-info-count {
    font-weight: bold;
    font-size: 1.75rem;
    line-height: 1.5;
}

span.matchup-string {
    vertical-align: middle;
    padding-left: 0.5rem;
}

span.taxopedia-entry {
    font-size: 1.25rem;
    font-weight: bold; 
}

h2.data {
    font-size: 25px;
    color: #211d55;
    padding-left: 10px;
}

h2.general {
    font-size: 2.3rem;
    color: #211d55;
    padding-left: 10px;
}

table {
    margin: 0 auto 1rem;
    border-collapse: collapse;
    display: table;
}

table.stat-table {
    color: #211d55;
    width: 97%;
}

table.taxonom-container {
    display: flex;
    flex-wrap: wrap;
    border: 5px dashed white;
    background-color: #59a5d8;
    padding: 10px;
}

td.table {
    border: 1px solid #e6e6e6;
}

td.table-matchup {
    font-size: 0.9rem;
    text-align: center;
}

td.round {
    border-radius: 15px;
}

/* BEGIN - EFFECTIVENESS CELLS USED FOR MATCHUP TABLES */
td.chunky {
    background-color: #6bd3ff;
}

td.heftily-chunky {
    background-color: #59a5d8;
}

td.resisted {
    background-color: #ff4d4d;
}

td.heftily-resisted {
    background-color: #e60000;
}

td.immune {
    background-color: #4d4d4d;
}
/* BEGIN - EFFECTIVENESS CELLS USED FOR MATCHUP TABLES */

td.taxonom-container-icon {
    height: 80px;
    width: 80px;
}

td.last {
    border-right: 2.5px solid black;
}

.stat-table tr {
    font-weight: normal;
    border-top: 1px solid  #e6e6e6;
    border-bottom: 1px solid   #e6e6e6;
}

.stat-table th {
    text-align: right;
    font-size: 1rem;
    font-weight: normal;
    padding-top: 4px;
    padding-right: 10px;
    padding-bottom: 4px;
    padding-left: 10px;
}

.stat-table td {
    font-size: 1.15rem;
    padding-top: 4px;
    padding-right: 10px;
    padding-bottom: 4px;
    padding-left: 10px;
}

td.stat-num {
    text-align: right;
}

th.no-pad {
    padding-right: 0px;
}

td.stat-num {
    padding-left: 0px;
}

/* USED FOR STAT NUMBERS */
td.black {
    background-color: #333333;
}

td.red1 {
    background-color: #cc0000;
}

td.red2 {
    background-color: #ff0000;
}

td.red3 {
    background-color: #ff6600;
}

td.yellow1 {
    background-color: #ff9933;
}

td.yellow2 {
    background-color: #ffff00;
}

td.green1 {
    background-color: #a6ff4d;
}

td.green2 {
    background-color: #66ff66;
}

td.green3 {
    background-color: #00ff99;
}

td.green4 {
    background-color: #00FFCC;
}

td.blue1 {
    background-color: #00EEFF;
}

td.blue2 {
    background-color: #4ddbff;
}
/* USED FOR STAT NUMBERS */

td.stat-bar {
    display: inline-block;
    width: 70px;
    margin-right: 5px;
    margin-bottom: 4px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.2);
    color: #ffffff;
    font-size: 0.75rem;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
    text-transform: uppercase;
    line-height: 2;
    margin-top: 6.5px;
    height: 1rem;
    padding-left: 0px;
    padding-right: 0px;
}

/* BEGIN - USED FOR STAT NUMBERS */
td.s5 {
    width: 20px;
}

td.s10 {
    width: 35px;
}

td.s15 {
    width: 55px;
}
/* END - USED FOR STAT NUMBERS */

/* BEGIN - TIER LIST TIER CELLS */
td.s-tier {
    background-color: #4ddbff;
}

td.a-tier {
    background-color: #66ff66;
}

td.b-tier {
    background-color: #ffff00;
}

td.c-tier {
    background-color: #ff9933;
}

td.d-tier {
    background-color: #ff0000;
}

td.f-tier {
    background-color: #cc0000;
}
/* END - TIER LIST TIER CELLS */

/* TIER LIST ICON CONTAINER CELL */
td.empty {
    height: 86px;
    width: 80px;
    text-align: center;
    background-color: dimgray;
    border-top: 2.5px solid black;
}

/* BEGIN - TIER LIST TIER BORDERS */
td.s-tier-border {
    border-bottom: 2.5px solid #4ddbff;
}

td.a-tier-border {
    border-bottom: 2.5px solid #66ff66;
}

td.b-tier-border {
    border-bottom: 2.5px solid #ffff00;
}

td.c-tier-border {
    border-bottom: 2.5px solid #ff9933;
}

td.d-tier-border {
    border-bottom: 2.5px solid #ff0000;
}

td.f-tier-border {
    border-bottom: 2.5px solid #cc0000;
}
/* END - TIER LIST TIER BORDERS */

td.tier-list-table {
    border: 2.5px solid black;
    height: 85px;
    width: 110px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

td.individual-matchup {
    padding-top: 3px;
    padding-bottom: 6px;
    font-size: 1.1rem;
}

/* BEGIN - VARIOUS DIFFERENT IMAGES MAINLY FOR WIDTH */
img.head-logo {
    width: 101.5%;
    margin-left: -10px;
}

img.news-logo {
    width: 38%;
}

img.what-is-taxonoms {
    width: 44%;
}

img.taxopedia-logo {
    width: 20%;
}

img.taxopedia {
    width: 75%;
}

img.taxopedia-entry {
    width: 80%;
}

img.stats {
    width: 85%;
}

img.matchup-icon {
    width: 2.9%;
    vertical-align: bottom;
}

img.tier-list-creator {
    width: 33%;
}

img.tier-list-icon {
    width: 100%;
}
/* END - VARIOUS DIFFERENT IMAGES MAINLY FOR WIDTH */

/* RESPONSIVENESS */

@media screen and (max-width: 1300px) {
    
    img.news-logo {
        width: 50%;
    }
    
    img.what-is-taxonoms {
        width: 57.9%;
    }
    
    img.taxopedia-logo {
        width: 23%;
    }
    
    div.taxopedia-grid-col {
        width: 16.6%;
    }
    
    img.taxopedia-entry {
        width: 100%;
    }
    
    img.matchup-icon {
        width: 4%;
    }
}

@media screen and (max-width: 1144px) {
    
    div.stat-grid-col {
        width: 100%;
    }
    
    div.matchup-grid-col {
        width: 50%;
    }
}

@media screen and (max-width: 1100px) {
    
    img.news-logo {
        width: 65%;
    }
    
    img.what-is-taxonoms {
        width: 75.27%;
    }
    
    img.taxopedia-logo {
        width: 26%;
    }
    
    img.matchup-icon {
        width: 5%;
    }
    
    div.taxopedia-grid-col {
        width: 20%;
    }
}

@media screen and (max-width: 1070px) {
    
    img.matchup-icon {
        width: 2%;
    }
    
    div.type-grid-col {
        width: 100%;
    }
    
    div.type-grid-col2 {
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    
    img.matchup-icon {
        width: 2.3%;
    }
}

@media screen and (max-width: 900px) {
    
    img.news-logo {
        width: 84.5%;
    }
    
    img.what-is-taxonoms {
        width: 97.85%;
    }   
    
    img.head-logo {
        width: 103%;
    }
    
    img.taxopedia-logo {
        width: 30.5%;
    }
    
    img.taxopedia-entry {
        width: 150%;
    }
    
    img.matchup-icon {
        width: 2.7%;
    }
    
    div.taxopedia-grid-col {
        width: 25%;
    }
    
    div.matchup-grid-col {
        width: 100%;
    }
    
    div.misc-stat-grid-col {
        width: 100%;
    }
    
    div.misc-grid-col {
        width: 100%;
    }
    
    div.type-description-grid-col {
        width: 100%;
    }
    
    td.stat-num {
        padding-left: 5px;
    }
    
    a.type-small {
        width: 20px;
        height: 18px;
        font-size: 0.5rem;
        padding-top: 0.5px;
    }
    
    a.td-magnification {
        font-size: 0.65rem;
    }
}

@media screen and (max-width: 790px) {
    
    div.news-grid-col {
        width: 40%;
    }
    
    div.introduction-grid-col {
        width: 60%;
    }
    
    article.introduction {
        font-size: 14px;
    }
    
    li.news {
        font-size: 14px;
    }
    
    p.blue-dashed {
        font-size: 14px;
    }
    
    img.news-logo {
        width: 55%;
    }
    
    img.what-is-taxonoms {
        width: 100%;
    }
    
    img.taxopedia-logo {
        width: 37%;
    }
    
    img.matchup-icon {
        width: 2.8%;
    }
    
    td.stat-num {
        padding-left: 8px;
    }
}

@media screen and (max-width: 740px) {
    
    div.taxopedia-grid-col {
        width: 33.3%;
    }
}

@media screen and (max-width: 610px) {
    
    a.type-small {
        width: 14px;
        height: 11px;
        font-size: 0.37rem;
        padding-bottom: 11px;
    }
    
    a.td-magnification {
        font-size: 0.5rem;
    }
}

@media screen and (max-width: 700px) {
    
    img.matchup-icon {
        width: 3.1%;
    }
}

@media screen and (max-width: 600px) {
    
    article.introduction {
        font-size: 13px;
    }
    
    nav.news {
        font-size: 13px;
    }
    
    img.head-logo {
        width: 104%;
    }
    
    img.taxopedia-entry {
        width: 320%;
    }
    
    img.matchup-icon {
        width: 3.7%;
    }
    
    div.taxopedia-grid-col {
        width: 50%;
    }
    
    div.data-grid-col {
        width: 100%;
    }
    
    img.taxopedia-logo {
        width: 47%;
    }
    
    td.stat-num {
        padding-left: 11px;
    }
}

@media screen and (max-width: 500px) {
    
    img.matchup-icon {
        width: 4.6%;
    }
}

