* {
  box-sizing: border-box;
}

body {
  background-color: #cccccc;
  width: 100%;
  height: 100%;
  color: #333333; 
  font-family: 'Racing Sans One', cursive; /* here i put the google font previously imported in the html part */
  overflow-x: hidden; /*disable horizontal scroll */
}

header {
  padding: 5px;
  padding-bottom: 20px;
  text-align: center;
  width: 100%;
  height: 22%;
  text-shadow: 5px 3px 1px #e6e6e6; /*i've added some shadows so the title could be more visible from the background pattern */
  background-color: #cccccc;
  background-image: url("pattern-light.png");
}

h1 {
	font-size: 50px;
	line-height: 35px;  /*i wanted the font to be larger but not to take much space vertically */
}

h2 {
	font-size: 30px;
	line-height: 25px; /*i wanted the font to be larger but not to take much space vertically */
}

section{
	width: 100%;
	height: 70%;
}

nav {
  float: left;
  width: 22.3%;
  height: 100%;
  padding: 20px;
  padding-top: 5px;
  font-size: 18px;
}

nav li {
	margin-left: 10px;
	margin-top: -6px;
}

nav li a {
	text-decoration: none;
	color: black;
}

.main-ul {
	list-style-type: none; 
	padding-left: 10px;
}

.mode {
	color: #333333;
}

article {
  float: left;
  padding: 20px;
  width: 60%;
  height: 100%;
}

.tic-tac-toe-blured {
	width: 800px;
	height: 400px;
	background-color: #e6e6e6;
	text-align: center;
    filter: blur(5px);
    position: absolute;

}

.tic-tac-toe {
	width: 800px;
	height: 400px;
	background-color: #e6e6e6;
	text-align: center;
	position: absolute;
	filter: none;
	cursor:pointer;
}

table {
	border-collapse: collapse;
	margin: 0 auto;
	width: 60%;
	height: 90%;
}

tr td {
	border-color: #333333;
}

table tr:first-child td{
	border-top: 0; 
}

table tr td:first-child {
	border-left: 0;
}

table tr:last-child td{
	border-bottom: 0;
}

table tr td:last-child {
	border-right: 0;
}

td {
	border: 2px solid black;
	height: 100px;
	width: 100px;
	text-align: center;
	vertical-align: middle;
	font-family: "Comic Sams Ms", cursive, sans-serif;
	font-size: 70px;
	cursor: pointer;
}

.center-button {
	width: 800px;
	height: 400px;
	text-align: center;
	display: inline-block;
	position: absolute;
	margin: 0 auto;

}

.start-button {
	height: 125px;
	width: 165px;
	color: #ffffff ;
	font-weight: 700 ;
	letter-spacing: 3px;
	font-size: 20px;
	font-family: 'Racing Sans One', cursive;
	text-transform: uppercase; /* all caps letters */
	background: #494949;
	padding: 20px;
	border: 4px solid #ffffff;
	transition: all 0.4s ease 0s;   /* the transition takes 0.4 seconds */
	margin: 0 auto;
	margin-top: 140px;
}

.start-button:hover {
	color: #404040;
	font-weight: 700;
	letter-spacing: 3px;
	background: none;
	box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57); /* creating a shadow when hovering over button, negative value of spread decreases the size of the shadow*/
	transition: all 0.3s ease 0s; /* when mouse hovers over button the transition from one style to another takes 0.3seconds */
}

.leaderboard {
	width: 35px;
	font-size: 20px;
	float: left;
	cursor:default;
	position: relative;
}

.leaderboard table {
	border-collapse: collapse;
	border: 2px solid #333333;
	border-right: none;
	border-left: none;
}

.lead {
	width: 190px; 
	margin-left: 25px;
}

.lead td {
	font-size: 20px;
	font-family: 'Racing Sans One', cursive;
	height: 9px;
}

.name td {
	width: 150px;
}

.lead tr {
	line-height: 10px;
	height: 60px;
}

footer {
	width: 100%;
	height: 7%;
	position: fixed;
    bottom: 0;
	text-align: center;
}

footer a {
	color: #333333;
}

.active { /*disabeling link of the page we are on */
	color: #0d0d0d;
	pointer-events: none;
    cursor: default;
}

@media (max-width: 1300px) {
  nav, article, section, footer{
    width: 100%;
    height: auto;
  }
  .tic-tac-toe-blured, .tic-tac-toe{
  	width: 90%;
  }
  .center-button{
  	width: 90%;
  }
  .leaderboard {
  	width: 100%;
  	height: 90%;
  	margin-top: 420px;
  }
}