

body {
    padding-top: 56px;
}


.jumbotron {
    background: url("../img/7.jpg") no-repeat center;
}
.btn-primary {
    background-color: #c60063;
    border-color: #c60063;
}





#Register {
    background: url("../img/9.jpg") no-repeat center;
}





















