body{
		font-family: Avantgarde;
		background-color: #505050;
}
/*For the title*/
.headr{
	text-align: center;
}
.header1 {
	height: 20%;
	width: 100%;
	font-size: 300%;
}
/*For the famnit img*/
.headr2{
	text-align: right;
}
.famnit{
	height: 180px; 
	width: 184px;
	cursor: -webkit-grab; cursor: grab;
}
/*for the header*/
.div1{
	width: 100%;
	background-color: #505050;
	color: white; 
}
/*For the little title*/
.p1{

	height: 20%;
	width: 100%;
	font-size: 150%;
}
/*For the nav*/
.nav1{
	margin-right: 10%;
	margin-left: 10%;
	height: 100%;
}
.div2{
	background-color: #808080;
}
/*Link in NAV*/
.a1{
	color: white;
	padding: 17px 16px;
	background-color: #808080;
}
/*Link in dropdown*/
.a2{
	color: white;
	padding: 17px 16px;
}
/*When this is the active link*/

/*For the link with the dropdown*/
.dropbtn {
  background-color: #808080;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.activ{
	background-color: #393942;
}
.dropdown1 {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #DCDCDC;
  min-width: 160px;/*width min of the content */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1; /*Put the content over*/
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;/*erase the underliner when you over*/
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}
.a1:hover {color: black;}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #808080;
}
}
/*The biggest division usefull for the background*/
.div3{
	height: 100%;
	width: 100%;
	background-color: #505050;
}
/*The white division*/
.div4{
	margin-left: 20%;
	margin-right: 20%;
	padding: 5%;
	background-color: white;
}
/*For the carousel*/
.imgcar{
	width: 150px;
	height: 150px;
}
/*the border*/
.divcar{
	border-style: groove;
	border-color: #393942;
}
/*For the carousel division*/
.divcar3{
	width: 50%;
	height: 100%;
	margin-right: 25%;
	margin-left: 25%;
	margin-bottom: 5%;
}
/*for the text*/
.divcar2{
	color: #393942;
}

.case{
	background-color: #C0C0C0;
	text-align: center;
	margin: none;
	padding: 2% 1% 2% 1%; 
	border: solid black;
	border-collapse: collapse;
	color:  #C0C0C0;
	cursor: pointer;

}
.case:hover{
	background-color: #787878;
	color: #787878;

}
.smiley{
	cursor: pointer;
	text-align: center;
}
#unveiled{
	color: black;
	background-color: #787878;
	cursor: no-allowed;
}
/**/
.mine{
	height: 20px;
	width: 20px;
}