* {
    box-sizing: border-box;
} /* This is the universal box sizing. It creates a box around everything. */
body {
    background-image: url(../images/Background.png);
    font-family: montserrat;
    background-attachment: fixed;
} /* This gives the body of the pages the selected background image and font. The fixed background-attachment makes the background image scroll along with the site. */
nav {
    float: left;
    width: 15%;
    margin-top: 26px;
} /* This is used to style the navbar (the various links that take you to different sites upon clicking on them) */
article {
    color: white;
    border-left: 4px solid #6c6c76;
    border-bottom: 4px solid #6c6c75;
    border-right: 4px solid #6c6c75;
    border-top: 4px solid #6c6c75;
} /* This is used to style the article - the part from the end of header to the beginning of the footer. It has a big box around it because of the borders. */
fieldset.a {
    border-left: 4px solid #bfdb87;
    border-right: 4px solid #bfdb87;
    border-bottom: 4px solid #bfdb87;
    border-top: 4px solid #bfdb87;
} /* This is used to style the fieldset of the class="a". It has a green border all around it." */
fieldset.b {
    border: none;
    display: inline-block;
} /* This is used to style the fieldset of the class="b". It has no border and the inline-block display to make it look cleaner. */
legend {
    font-size: 20px;
    color: #bfdb87;
} /* This is used to style the legend - the green text used for titling information on the registration site. */
legend.b {
    font-size: 20px;
    color: #bfdb87;
} /* This is used to style the legend of the class="b" - the green text for titling memes on the meme rating site. */
legend.b:hover {
    color: white;
} /* This is used to make the legend of the class="b" change color when hovered over to white. */
a.a {
    text-decoration: none;
    color: white;
} /* This is used to style the a of the class="a". It is used for the links in the navbar */
a.active {
    text-decoration: none;
    color: #B7A782;
}
a.b {
    text-decoration: none;
    color: #bfdb87;
} /* This is used to style the a of the class="b". It is used for links. */
a.c {
    text-decoration: none;
    color: #bfdb87;
    font-size: 20px;
} /* This is used to style the List of subpages on the Home Page */
li.a {
    list-style-type: none;
    width: 85%;
    border-left: 4px solid #bfdb87;
    border-right: 4px solid #bfdb87;
    border-bottom: 4px solid #bfdb87;
    border-top: 4px solid #bfdb87;
    padding: 6px 2px;
    padding-left: 6px;
    margin-bottom: 10px;
    background-color: #6c6c76;
    text-align: left;
    color: white;
} /* This is used to style the navbar items (Home Page - Rate Memes links). It gives them a border, padding, width, etc. */
li.a:hover {
    border-left: 4px solid #B7A782;
    border-right: 4px solid #B7A782;
    border-bottom: 4px solid #B7A782;
    border-top: 4px solid #B7A782;
    color: #B7A782;
}
li.active {
    list-style-type: none;
    width: 85%;
    border-left: 4px solid #B7A782;
    border-right: 4px solid #B7A782;
    border-bottom: 4px solid #B7A782;
    border-top: 4px solid #B7A782;
    padding: 6px 2px;
    padding-left: 6px;
    margin-bottom: 10px;
    background-color: #6c6c76;
    text-align: left;
    color: #B7A782;
}
li.b {
    text-decoration: none;
    list-style-image: url("../images/AncapSmiley.png");
    margin-left: 90px;
} /* This is used to style the List of subpages items on the Home Page */
label.a {
    margin-right: 7px;
}
label.b {
    margin-right: 21px;
}
label.c {
    margin-right: 22px;
}
label.d {
    margin-right: 20px;
}
label.e {
    margin-right: 23px;
}
label.f {
    margin-right: 5px;
}
label.g {
    margin-right: 53px;
}
label.h {
    margin-right: 35px;
} /* All of the label classes are used to style a textbox on the registration page so that they all align. I'm sure there's a better way of doing this but I couldn't find it online. */
.button {
    padding: 16px 48px;
    color: white;
    background-color: #6c6c76;
    text-decoration: none;
    border-left: 5px solid #bfdb87;
    border-right: 5px solid #bfdb87;
    border-bottom: 5px solid #bfdb87;
    border-top: 5px solid #bfdb87;
    transition-duration: 0.4s;
} /* This is used to style the Submit button that can be seen on multiple sites. */
.button:hover {
    background-color: #bfdb87;
} /* This gives the aforementioned buttons a hover effect that makes it change color when it is hovered over. */
#header {
    font-size: 50px;
    text-align: center;
    padding: 20px 8px;
    background-color: #bfdb87;
    color: white;
    border-left: 4px solid #6c6c76;
    border-right: 4px solid #6c6c76;
    border-bottom: 4px solid #6c6c76;
    border-top: 4px solid #6c6c76;
} /* This is the header id used for the header division. It provides it with all kinds of elements to style it accordingly. */
#credit {
    font-size: 15px;
    text-align: left;
    color: white;
    padding: 8px 5px;
    background-color: #6c6c76;
    border-left: 3px solid #bfdb87;
    border-right: 3px solid #bfdb87;
    border-bottom: 3px solid #bfdb87;
    border-top: 3px solid #bfdb87;
} /* This is the credit id used for the credit division. It provides it with all kinds of elements to style it accordingly. */
.memedescription {
    color: lightgray;
} /* This is the memedescription class used for the memedescription divisions on the meme rating page. */
.memeimage {
    max-width: 100%;
} /* This is used for the responsiveness of the meme images */
header {
    position: sticky;
    top: 0;
} /* This is to make the header follow as you scroll. */
p {
    color: #bfdb87;
}
img {
    border-radius: 10%;
}
.pagination {
    font-size: 20px;
    text-align: center;
}
.mySlides {
    display:none;
}
button {
    background-color: #6c6c76;
    color: #bfdb87;
    border-left: 3px solid #bfdb87;
    border-right: 3px solid #bfdb87;
    border-bottom: 3px solid #bfdb87;
    border-top: 3px solid #bfdb87;
}