* {
	box-sizing: border-box;
    font-family: Montserrat;
}

html {
    height: 100%;
}

h1 { 
    font-size:50px; 
    color: #00b300; 
    font-weight:bold; 
    font-family: Cursive;
    margin-left:10px; 
} 
        
h2 { 
    font-size:30px; 
    color: #ff9900;
    margin-left:10px; 
} 

h3{
    color: gray;
    margin-left:10px; 
    margin-right: 50px;
}

h4{
    color: #363636;
    margin-left:10px; 
    margin-right: 50px;
}

body { 
    margin: 0 auto; 
    background-position:center; 
    background-size: contain; 
    font-size: 17px;
} 

p {
    margin-left: 20px;
}

p.what{
    margin-right: 80px;
}
        
section {
    margin-left: 10px;
}
        
nav {
  	float: left;
  	width: 13%;
 	height: 300px;
	background: white;
  	padding: 20px; 	
    margin: 40px auto;
}
		
nav ul {
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    width: 130px;
}

ul.spongebob{
    list-style-image: url('spongebob.png');
}

nav ul li {
    width: 100%;
    margin: 10px 0;
    padding: 0;
    background-color: #ff9900;
}

nav ul li a {
    display: block;
    margin: 0 auto;
    padding: 10px;
    color: white;
    font-size: 18px;
    background-color: #4d4d4d;
    text-decoration: none;
    width: 75%;
}

div{
    display: block;
}

div.info {
    padding: 10px;
    font-size: 20px;
}
		
article {
	float: left;
	padding: 10px;
	width: 87%;
	background-color: white;
	height: 300px; 
}

div.legend {
    float: left;
    height: 40px;
    border: 1px solid black;
    border-collapse: collapse;
    border-right: none;
}

div.image {
    float: left;
    height: 40px;
    width: 38.5%;
    color: #ff9900;
    font-size: 20px;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}

div.name {
    border: 1px solid black;
    height: 40px;
    width: 100%;
    color: #ff9900;
    font-size: 20px;
    text-align: center;
    border-collapse: collapse;
    border-right: none;
}

div.image:hover , div.name:hover{
    color: darkgreen;
}

div.meme {
    float: left;
    height: 400px;
    border: 1px solid white;
    border-collapse: collapse;
    border-right: none;
}

div.memetitle:hover {
    color: #ff9900;
}

div.column1 {
    float: left;
    width: 38.5%;
    height: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    border-right: none;
}

img {
    max-width: 100%;
    width: 500px;
    height: 400px;
}

div.memecolumn2 {
    
    border: 1px solid black;
    height: 400px;
    width: 100%;
    border-collapse: collapse;
    border-right: none;
    border-top: none;
}	

div.memetitle {
    height: 10%;
    font-size: 20px;
    padding: 1px;
    font-family: cursive;
    color: darkgreen;
    border: 1px solid black;
    border-collapse: collapse;
    border-right: none;
}

div.Description {
    height: 75%;
    font-size: 17px;
}

div.rates {
    height: 10.5%;
    border: 1px solid black;
    font-size: 20px;
    border-collapse: collapse;
    border-right: none;
}

.checked {
    color: orange;
}    
.ratem {
    float: right;
    height: 12px;
    padding: 0 10px;
    background: white;

}

.ratem:not(:checked) > input {
    position:absolute;
    top:-9999px;
}

.ratem:not(:checked) > label {
        float:right;
        width:1em;
        overflow:hidden;
        white-space:nowrap;
        cursor:pointer;
        font-size:30px;
        color:#ccc;
}

.ratem:not(:checked) > label:before {
        content: '★ ';
}

.ratem > input:checked ~ label {
    color: #ffc700;    
}

.ratem:not(:checked) > label:hover, .ratem:not(:checked) > label:hover ~ label {
    color: #deb217;  
}

.ratem > input:checked + label:hover,
.ratem > input:checked + label:hover ~ label,
.ratem > input:checked ~ label:hover,
.ratem > input:checked ~ label:hover ~ label,
.ratem > label:hover ~ input:checked ~ label {
        color: #c59b08;
}

@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
    div.column1, div.memecolumn2{
        width: 100%;
        height: auto;
    }
    div.image, div.name{
        width: 100%;
        height: auto;
    }
}
