
    table {
      width: 300px;
      border-collapse: collapse;
      border: 1px solid black;
      margin: 3px;
    }
    td, th {
      border: 1px solid black;
      text-align: center;
    }
    th {
      background: yellow;
    }
    button {
      width: 94px;
      margin: 3px;
    }
    </style>