body {   
	margin: 0;  /*just a margin*/
	padding: 0;  /*padding is used to generate space between content*/
	font-family: 'Source Sans Pro', sans-serif; /*fancy font*/ 
    background-size:cover; /*streches the image to fit screen*/
	font-size: 11pt; /*size of font*/
	color: #787878; /*this is just useless*/
	background-image: url('images/1.jpg');
}

h1, h2, h3 {
	margin: 0; 
	padding: 0;
	font-weight: normal; /*font weight is how bolded the text is */
	color: #3DA29B; /*color of letters */
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.8em;
	color:#FFFFFF;
	text-shadow: 2px 2px black;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0; /*distance from top*/
	line-height: 180%;
}

a {
	text-decoration: none; /*regular text*/
	color: #5E5E5E;
}

a:hover { /*when you hover over*/
	text-decoration: underline; /*______*/
}

#wrapper {
	padding-top: 50px; /*top distance from elements*/
	bottom: 3%; /*distance from bottom*/

}

.container { /*basicaly main div*/
	width: 100%; /*this is obvious*/
	margin: 0px auto;
	bottom: 3%; 
	left:30%;  /*distance from left*/
}

#header-wrapper { /*the wrap around header */
	overflow: hidden; /*if it overflows you cant see it*/
	height: 140px; /*vertical length of wrapper*/
}

#header { /*just a header(inside is menu)*/
	width: 80%;
	height: 100px;
	margin: 0 auto;
	padding: 0px 20px;

}

#logo { /*big letter logo that says minesweeper*/
	float: left; /*text goes to left*/
	width: 30%;
	margin: 0;
	padding: 0;
	color: #FFFFFF;
}

/*#logo h1, #logo p {  useless
}*/

#logo h1 { /*logo letters*/
	line-height: 100px;
	letter-spacing: -2px;
	text-transform: uppercase;
	font-size:3vw;
}

#logo h1 a { /*link color*/
	color:  #ccccff;
}


#logo a {
	text-decoration: none;
}

td { /*table design*/
  padding: 15px;
  text-align: left;
  color: white;
  /*text-shadow: 2px 1px #194b6d;*/
  background: rgba(0, 0, 0, 0.5);
  text-shadow: 2px 2px black;
  border: 1px solid white;
}
td:last-child {
	text-align: center;
}

#menu { /*menu*/
	float: right;
	width: 50%;
	height: 90px;
	margin: 0 auto;
	padding: 0;
}

#menu ul { /*menu items*/
	float: right;
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block; /*the items are rendered as box*/
	line-height: 100px; /*basicaly height of line*/
	margin-right: 1px;
	padding: 0px 20px 0px 20px;
	letter-spacing: 1px; /*distance between letters*/
	text-decoration: none; 
	text-align: center; 
	text-shadow: 1px 1px 0px rgba(0, 0, 0,.2); /*shadow behind text*/
	text-transform: uppercase; /*all letters are in uppercase*/
	font-size:1vw ;/*size*/
	font-weight: 300;
	color: #FFFFFF;
	border: none; /*no distinguishable border*/
}

#banner
{
	width:80%;
	float: center;
	margin-bottom: 3em;
}

#page {
	overflow: hidden; 
	width: 70%; 
	margin: 0 auto;
	padding: 5em 50px 6em 50px; /*all sides padding*/
	margin-bottom: 5%;
	
	background-size:cover;

	animation: transitions 0.75s;
}

#timerLabel {
	text-shadow: 2px 2px black;
	animation: transitions 0.75s;
}

#content {
	float: center; /*positioning of elements in center*/
	width: 100%;

	animation: transitions 0.75s;
}
.pajs
{
	background: rgba(128, 0, 128, 0.6); /*bg*/
	border-radius: 5px;
	width: 40%;
	background-size:cover;
	border: 1px solid white;

	animation: transitions 0.75s;
}

i{
	color: white;
	text-shadow: 2px 2px black;
}
.box{
  width: 40%;
}
#loginInfo{
	color: white;
	text-transform: uppercase;
	text-shadow: 2px 2px black;
	font-weight: 600;
}
.box input[type = "text"],.box input[type = "password"]{ /*css of text inputs*/
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 1px solid white;
  padding: 14px 10px;
  width: 50%;
  outline: none;
  color: white;
  border-radius: 24px; /*border of text input*/
  transition: 0.25s; /*time of transition*/
}
.box input[type = "text"]:focus.box input[type = "password"]:focus{ /*onclick*/
  width: 280px;
  border-color: lightblue;
}
::placeholder{
	color: white;
}
.box input[type = "text"]:focus::placeholder, .box input[type = "password"]:focus::placeholder{
	color: transparent;
}
.box input[type = "text"]:hover, .box input[type = "password"]:hover{
	width: 55%;
	transition: 0.25s;
}
.box button{ /*button css */
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  font-size: 1em;
  font-weight: 600;
  border: 2px solid white;
  background: rgba(0, 0, 0, 0.3);
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer; /*glove instead of arrow*/
  font-weight: 500;
}
button:hover{
	cursor: pointer;
}

#username,
#password{
	display: block;
}
#newUser,
#newPass{
	display: none;
}
.box button:hover{
  background: rgba(0, 0, 0, 0.6);
  border-style: inset;
  letter-spacing: 2px;
  transition: 0.25s;
}
#or{
	display: block;
	color: white;
}

.btn {
	background: rgba(0, 0, 0, 0.3);
	color: black;
	border: 2px solid white;
	border-radius: 5px;
	transition: 0.5s;
}

.btn:hover{
	background: rgba(0, 0, 0, 0.6);
	border-style: inset;
	transition: 0.5s;
}

#board {
  border: 1px solid #333;
  display: inline-block;
}

.row {
  font-size: 0px;
}

.col {
  display: inline-block;
  width: 45px;
  height: 45px;
  background: #eee;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  vertical-align: top; /*same as align just vertically */
  color: black;
  font-size: 20px;
  line-height: 50px;
  transition: all 1.0s;
}

.col:hover {
	background: red;
}

.col.hidden {
  cursor: pointer;
  background: #59aec7;
}

.col.hidden:hover {
  background-color: #eee;
}

@keyframes transitions{
	from{
		opacity: 0;
		transform: rotateX(35deg);
	}
	to{
		opacity: 1;
		transform: rotateX(0);
		opacity: 100%;
	}
  }
